<form action="/pay" method="POST">
  <!-- Note that the amount is in paise = 50 INR -->
  <script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="YOUR RAZORPAY KEY_ID"
    data-amount="{{amount}}"
    data-buttontext="let's pay"
    data-name="cash"
    data-description="Purchase Description"
    data-image="https://your-awesome-site.com/your_logo.jpg"
    data-prefill.name="subash"
    data-prefill.email="support@razorpay.com"
    data-theme.color="#F37254"
    data-order_id="{{order_id}}"
  ></script>
  <Phone />
  <input type="hidden" value="phone" name="hidden" />
</form>
